<h3>Please fill out the form to add a project</h3>

<form action="/projects" method="post">
  <div class="form-group">
    <label class="form-label" for="projectName">Project Name:</label>
    <input class="form-control" id="projectName" name="projectName" type="text" placeholder="Project Name" autofocus>
  </div>
  <button type="submit" class="btn-primary">Submit</button>
</form>
