<h3>Please fill out the form to add a volunteer</h3>

<form action="/volunteers" method="post">
  <div class="form-group">
    <label class="form-label" for="volunteerName">Project Name:</label>
    <input class="form-control" id="volunteerName" name="volunteerName" type="text" placeholder="Project Name" autofocus>
  </div>
  <button type="submit" class="btn-primary">Submit</button>
</form>
