<h3>Please fill out the form to add a volunteer</h3>

<form action="/volunteers" method="post">
  <div class="form-group">
    <!-- <input id="project_id" name="project_id" type="hidden" value="<%= @project.id %>"> -->
    <label class="form-label" for="volunteerName">Volunteer Name:</label>
    <input class="form-control" id="volunteerName" name="volunteerName" type="text" placeholder="Volunteer Name" autofocus>

  </div>
  <button type="submit" class="btn-primary">Submit</button>
</form>
