<h3><%= @project.name %> details: </h3>

  <p>Volunteers:</p>
    <ul>
      <% @volunteers.each do |volunteer| %>
        <% if volunteer.project_id == @project.id %>
          <li><%= volunteer.name %></li>
        <% end %>
      <% end %>
    </ul>

<hr>

<h3>Please fill out the form to add a volunteer</h3>

<form action="/projects/<%= @project.id %>" method="post">
  <div class="form-group">
    <label class="form-label" for="volunteerName">Volunteer Name:</label>
    <input class="form-control" id="volunteerName" name="volunteerName" type="text" placeholder="Volunteer Name" autofocus>
  </div>
  <button type="submit" class="btn-primary">Submit</button>
</form>

<p><a href = "/">Click to return to home page</a></p>
