<h3>Here are all of our Volunteers and thier current project</h3>

<% if @volunteers.any? %>
  <ul>
    <% @volunteers.each do |volunteer| %>
      <li><%= volunteer.name %> <%= volunteer.project_id %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no volunteers yet</p>
<% end %>

<p><a href="/">Click here to return to home page</a></p>
